body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 480;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

span {
  line-height: 1.6;
}

nav {
  display: flex;
  justify-content: center;
}

nav > div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 25px;
  width: 50%;
  font-size: 1.25rem;
  border-bottom: 1px solid #ccc6c6;
  padding-bottom: 20px;
}

.nav-link {
  display: flex;
  gap: 10px;
}

.home-nav {
  color: black;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.article-main {
  color: #1f1f1f;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}

.article-blog {
  color: #1f1f1f;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.underline {
  color: #1f1f1f;
  text-decoration: underline;
  text-decoration-color: rgb(245, 202, 6);
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.underline:hover {
  color: rgb(245, 202, 6);
}

.underline-text {
  color: #1f1f1f;
  text-decoration: underline;
  text-decoration-color: rgb(245, 202, 6);
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.active-nav {
  color: rgb(245, 202, 6);
}

.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  color: #0a0a0a;
  font-size: 20px;
  font-weight: 500;
}

footer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #606060;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.work-container {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.work-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.work-detail {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.work-time {
  width: 25%;
}

.work-title {
  color: #0a0a0a;
  font-size: 18px;
}

.work-point {
  font-size: 15px;
  padding-left: 20px;
}

.work-key {
  font-size: 15px;
}

.project {
  display: flex;
  flex-direction: row;
  border: 1px solid #727272;
  padding: 4px;
  border-radius: 10px;
}

.debug {
  border: 1px solid black;
}

.project-section {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border: 1px solid #ccc6c6;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.project-section > span:hover:first-child {
  text-decoration: underline;
  text-decoration-color: rgb(245, 202, 6);
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.project-title {
  font-size: large;
}

.project-desc {
  font-size: 15px;
  color: #292929;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  nav > div {
    width: 90%;
    font-size: 14px;
    justify-items: center;
    padding-bottom: 10px;
  }

  .underline {
    line-height: 1.6;
  }

  .project-desc {
    font-size: 11px;
  }

  .article-main,
  .article-blog {
    width: 90%;
    font-size: 12px;
  }

  .title,
  .work-title,
  .project-title,
  .home-nav {
    font-size: 13px;
  }

  .work-point,
  .work-key {
    font-size: 12px;
  }

  .work-img {
    width: 30px;
    height: 30px;
  }

  .box {
    gap: 10px;
  }

  footer {
    padding-top: 0px;
    font-size: 12px;
  }
}
